 <!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="{% static 'game/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'game/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/bootstrap.min.css' %}">
    <title> Key Learning </title>


</head>
<body >
    <!--<canvas id = "canvas"></canvas>-->
<script type="text/javascript" src="{% static 'game/js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'game/js/pixi.min.js' %}"></script>
<script type="text/javascript" src="{% static 'game/js/audiosynth.js' %}"></script>


<div name="divHrefB" style="height: 0px;width: 0px;overflow:hidden;">
    <button id= "modalformbutton" class="btn btn-primary btn-lg" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Sign In/Register</button>
</div>

<!-- Modal -->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
              <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
              <li class=""><a href="#why" data-toggle="tab">Why?</a></li>
            </ul>
        </div>

      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in" id="why">
        <p>You need to have an account if you want us to save your highscores!</p>
        </div>
        <div class="tab-pane fade active in" id="signin">
            <form class="form-horizontal" action="{% url 'log_in' %}" method="post">
                {% csrf_token %}
            <fieldset>

            <!-- Sign In Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="userid">User Name:</label>
              <div class="controls">
                <input required="" id="name" name="name" type="text" class="form-control" placeholder="John Doe" class="input-medium" required="">
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="passwordinput">Password:</label>
              <div class="controls">
                <input required="" id="password" name="password" class="form-control" type="password" placeholder="********" class="input-medium">
              </div>
            </div>


            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="signin"></label>
              <div class="controls">
                <input type ="submit" name="signin" value = "Sign In"/>
              </div>
              {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            </div>
            </fieldset>
            </form>
        </div>
        <div class="tab-pane fade" id="signup">
            <form class="form-horizontal" action="{% url 'signup' %}" method="post">
                {% csrf_token %}
            <fieldset>
            <!-- Sign Up Form -->
            <!-- Text input-->


            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="userid">User Name:</label>
              <div class="controls">
                <input id="username" name="username" class="form-control" type="text" placeholder="JoeSixpack" class="input-large" required="">
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="password">Password:</label>
              <div class="controls">
                <input id="s_password" name="s_password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                <em>1-8 Characters</em>
              </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
              <div class="controls">
                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
              </div>
            </div>


            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
                <input type ="submit" name="signup" value = "Sign Up"/>
              </div>
              {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            </div>
            </fieldset>
            </form>
      </div>
    </div>
      </div>
      <div class="modal-footer">
      <center>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>

<div name="divHrefB" style="height: 0px;width: 0px;overflow:hidden;">
    <form id = "saveScore" action="{% url 'save_score' %}" method="post">
        {% csrf_token %}
        <input id="id" name="id" value = "{{userID}}"/>
        <input id = "score" name ="score" value ="">
    </form>
</div>

<div name="divHrefB" style="height: 0px;width: 0px;overflow:hidden;">
    <form id = "saveSuccess" action="{% url 'save_success' %}" method="post">
        {% csrf_token %}
        <input id="id" name="id" value = "{{userID}}"/>
        <input id = "success" name ="success" value =""/>
        <input id = "scen_id" name = "scen_id" value = ""/>
    </form>
</div>

<div name="divHrefB" style="height: 0px;width: 0px;overflow:hidden;">
    <form id = "saveNotes" action="{% url 'save_notes' %}" method="post">
        {% csrf_token %}
        <input id="notes" name="notes" value = ""/>
        <input id = "creator" name ="creator" value ="">
    </form>
</div>

<div>
    <form action = "{% url 'log_out' %}" method = "post">
        {% csrf_token %}
        <button type = "submit"> Log Out </button>
    </form>
</div>
<script>

//Global Variables
var height = 256; // Size of Canvas
var width = 512; // Size of Canvas
var backgroundColor = 0x1099bb;
var num_lives = 3; // Number of lives
var lives_left = num_lives; // Number of lives left
var previous = 1; // Previous note (if we dont want repetition).
                  // If we want repetition, change to 0
var intervalsize = 150; // Interval in which we want to create new notes
var speed = 0; // Initial speed
var max_speed = 15;

var is_free_mode = 0; // is_free_mode?
var in_game = 0;

// Synth Stuff
Synth instanceof AudioSynth;
var piano = Synth.createInstrument('piano');

// PIXI Aliases
var Container = PIXI.Container,
    autoDetectRenderer = PIXI.autoDetectRenderer,
    loader = PIXI.loader,
    resources = PIXI.loader.resources,
    TextureCache = PIXI.utils.TextureCache,
    Texture = PIXI.Texture,
    Sprite = PIXI.Sprite;


//Create Pixi stage and renderer and add the
//renderer.view to the DOM
var stage = new Container();
renderer = autoDetectRenderer(width, height);
renderer.backgroundColor = backgroundColor;
document.body.appendChild(renderer.view);

// Object Containers we will use

var menu = new PIXI.DisplayObjectContainer();
var gameCore = new PIXI.DisplayObjectContainer();
var gameObjects = new PIXI.DisplayObjectContainer();
var lives = new PIXI.DisplayObjectContainer();
var endGameScreen = new PIXI.DisplayObjectContainer();
var highScoresScreen = new PIXI.DisplayObjectContainer();
var scenariosScreen = new PIXI.DisplayObjectContainer();
var badgesScreen = new PIXI.DisplayObjectContainer();

PIXI.loader
  .add([
      "{% static 'game/images/quarter.png' %}",
      "{% static 'game/images/c_quarter.png' %}",
      "{% static 'game/images/clef.png' %}",
      "{% static 'game/images/heart.png' %}",
      "{% static 'game/images/keyboard_notes.png' %}",
      "{% static 'game/images/keyboard_big.png' %}",
      "{% static 'game/images/Badge_Amateur.png' %}",
      "{% static 'game/images/Badge_Pro.png' %}",
      "{% static 'game/images/Badge_Prodigy.png' %}",
      "{% static 'game/images/Badge_First.png' %}",

  ])
  .on("progress", loadProgressHandler)
  .load(init);

function loadProgressHandler(loader, resource) {

    //Display the file `url` currently being loaded
    console.log("loading: " + resource.url);

    //Display the precentage of files currently loaded
    console.log("progress: " + loader.progress + "%");

    //If you gave your files names as the first argument
    //of the `add` method, you can access them like this
    //console.log("loading: " + resource.name);
}

function init()
{
    user_isStaff = "{{ request.user.is_staff }}";
    if (user_isStaff == "True")
        user_is_staff = true;
    else {
        user_is_staff = false;
    }
    if (user_is_staff)
        console.log("User is staff");
    menu.visible = true;
    gameObjects.visible = false;
    lives.visble = false;
    gameCore.visible = false;
    highScoresScreen.visible = false;
    endGameScreen.visible = false;
    scenariosScreen.visible = false;
    badgesScreen.visible = false;
    // console.log("Menu: "+menu.visible);
    // console.log("Game objects: "+gameObjects.visible);
    // console.log("End Game: "+ endGameScreen.visible);

    style_title = {
        fontFamily : 'Courier',
        fontSize : '60px',
        fontStyle : 'italic',
        fontWeight : 'bold',
        fill : '#F7EDCA',
        stroke : '#4a1850',
        strokeThickness : 5,
        dropShadow : true,
        dropShadowColor : '#000000',
        dropShadowAngle : Math.PI / 6,
        dropShadowDistance : 6,
        wordWrap : true,
        wordWrapWidth : 440
    };
    style_subtitle = {
        fontFamily : 'Courier',
        fontSize : '30px',
        fontStyle : 'italic',
        fontWeight : 'bold',
        fill : '#F7EDCA',
        stroke : '#4a1850',
        strokeThickness : 5,
        dropShadow : true,
        dropShadowColor : '#000000',
        dropShadowAngle : Math.PI / 6,
        dropShadowDistance : 6,
        wordWrap : true,
        wordWrapWidth : 440
    };
    style_score = {
        fontFamily : 'Courier',
        fontSize : '15px',
        fontStyle : 'italic',
        fontWeight : 'bold',
        fill : '#F7EDCA',
        stroke : '#4a1850',
        strokeThickness : 5,
        dropShadow : true,
        dropShadowColor : '#000000',
        dropShadowAngle : Math.PI / 6,
        dropShadowDistance : 6,
        wordWrap : true,
        wordWrapWidth : 440
    };
    style_badge = {
        fontFamily : 'Courier',
        fontSize : '10px',
        fill : '#F7EDCA',
        stroke : '#4a1850',
        strokeThickness : 2,

    };

    title = new PIXI.Text('Key Learning',style_title);
    title.x = 30;
    title.y = 20
    var subtitle_play = new PIXI.Text('play', style_subtitle);
    subtitle_play.x = 120;
    subtitle_play.y = 100;

    subtitle_play.interactive = true;
    subtitle_play.on('mousedown', login);
    subtitle_play.on('touchstart', login);

    var subtitle_highScores = new PIXI.Text('high scores', style_subtitle)
    subtitle_highScores.x = 120;
    subtitle_highScores.y = 140;
    subtitle_highScores.interactive = true;
    subtitle_highScores.on('mousedown', showHighScores);
    subtitle_highScores.on('touchstart', showHighScores);

    var subtitle_badges = new PIXI.Text('badges', style_subtitle);
    subtitle_badges.x = 120;
    subtitle_badges.y = 180;
    subtitle_badges.interactive = true;
    subtitle_badges.on('mousedown', displayBadges);
    subtitle_badges.on('touchstart', displayBadges);

    var subtitle_freeMode = new PIXI.Text('free mode', style_subtitle);
    subtitle_freeMode.x = 120;
    subtitle_freeMode.y = 220;
    subtitle_freeMode.interactive = true;
    subtitle_freeMode.on('mousedown', freeMode);
    subtitle_freeMode.on('touchstart', freeMode);

    menu.addChild(title);
    menu.addChild(subtitle_play);
    menu.addChild(subtitle_highScores);
    menu.addChild(subtitle_badges);
    menu.addChild(subtitle_freeMode);

    stage.addChild(menu);

    renderer.render(stage);

}

function login()
{
    userID = "{{ request.user.id }}";

    if (userID == "None")
        document.getElementById('modalformbutton').click();
    else {
        displayScenarios();
    }
}

function setup(scenario_name, scenario_notes, scenario_id, num_lives) {

    // When we change "screens" we have to set objects visible so we can seem them

    menu.visible = false;
    gameObjects.visible = true;
    lives.visble = true;
    gameCore.visible = true;
    endGameScreen.visible = false;
    highScoresScreen.visible = false;
    scenariosScreen.visible = false;
    badgesScreen.visible = false;

    // console.log("Menu: "+menu.visible);
    // console.log("Game objects: "+gameObjects.visible);
    // console.log("Eng Game: "+ endGameScreen.visible);


    // Everytime we start the game, lives_left returns to what is should be

    lives_left = num_lives;
    in_game = 1;

    // We create a clef and add it to the game core objects
    clef = new Sprite(resources["{% static 'game/images/clef.png' %}"].texture);
    clef.height = 1/2 * height;
    clef.width = width;
    clef.position.set(0, height/2 - (clef.height)/2);
    gameCore.addChild(clef);

    // We create a keyboard and add it to the game core objects
    keyboard = new Sprite(resources["{% static 'game/images/keyboard_big.png' %}"].texture)
    keyboard.height = (height - (clef.height))/2;
    keyboard.width = (width/6) * 5;
    console.log("Height: "+ keyboard.height + " Width: "+keyboard.width);
    keyboard.position.set(width/2 - keyboard.width/2, height-keyboard.height+1);
    gameCore.addChild(keyboard);

    // We create the score text and we add it to the game core objects
    if (scenario_name == "Competition")
    {
        scoreText = new PIXI.Text('Score: 0');
        scoreText.position.set(0, 0)
        gameCore.addChild(scoreText);
        speedText = new PIXI.Text('Speed: 0');
        speedText.position.set(width/3, 0);
        gameCore.addChild(speedText);
        stage.addChild(gameCore);
    }


    for (var i = 0; i < num_lives; i++)
    {
        var heart = new Sprite(resources["{% static 'game/images/heart.png' %}"].texture);
        heart.height = 1/15 * height;
        heart.width = heart.height;
        var offset = width / 50 + heart.width;
        heart.position.set(width - (offset +  (i * heart.width)), height/100 );
        //console.log("Heart " + i + " x: "+ heart.x + " y: "+ heart.y); // DEBUG
        lives.addChild(heart);
    }
    stage.addChild(lives);


    //Render the stage
    renderer.render(stage);


    // Our Notes:
    lines = clef.height / 16;
    notes_w = 1/20 * width;
    notes_h = 1/10 * height;

    // Starting from bottom to up, this is how different notes are placed
    // (in relation to the sheet):

     C = clef.y + lines * 15 - notes_h - height/100;
     D = clef.y + lines * 14 - notes_h - height/100;
     E = clef.y + lines * 13 - notes_h - height/100;
     F = clef.y + lines * 12 - notes_h - height/100;
     G = clef.y + lines * 11 - notes_h - height/100;
     A = clef.y + lines * 10 - notes_h - height/100;
     B = clef.y + lines * 09 - notes_h - height/100;
     C_2 = clef.y + lines * 08 - notes_h - height/100;
     D_2 = clef.y + lines * 07 - notes_h - height/100;
     E_2 = clef.y + lines * 06 - notes_h - height/100;
     F_2 = clef.y + lines * 05 - notes_h - height/100;
     G_2 = clef.y + lines * 04 - notes_h - height/100;
     A_2 = clef.y + lines * 03 - notes_h - height/100;
     B_2 = clef.y + lines * 02 - notes_h - height/100;

    //We will need this to count frames
    frameCounter = 0;
    //Start gameObjects Loop
    console.log("Scenario name at setup is : "+scenario_name);
    if (scenario_name == "Competition")
        randomMode();
    else
    {
        scenario_notes = scenario_notes.replace(/(&quot\;)/g,"\"");
        scen_id = scenario_id;
        notes = JSON.parse(scenario_notes);
        createMode(scenario_name);
    }


}

function createMode(scenario_name)
{
    stop = 0;
    frameCounter +=1;
    if (lives_left <= 0)
    {
        endCustomGame();
        return;
    }
    if (notes.length > 0)
    {
        if (notes[0].frame == frameCounter)
        {
            switch (notes[0].note)
            {
                case "C": next_note_y = C; break;
                case "D": next_note_y = D; break;
                case "E": next_note_y = E; break;
                case "F": next_note_y = F; break;
                case "G": next_note_y = G; break;
                case "A": next_note_y = A; break;
                case "B": next_note_y = B; break;
                case "C_2": next_note_y = C_2; break;
                case "D_2": next_note_y = D_2; break;
                case "E_2": next_note_y = E_2; break;
                case "F_2": next_note_y = F_2; break;
                case "G_2": next_note_y = G_2; break;
                case "A_2": next_note_y = A_2; break;
                case "B_2": next_note_y = B_2; break;
            }

            notes.splice(0,1);

            if (next_note_y == C)
            {
                var c_quarter = new Sprite(resources["{% static 'game/images/c_quarter.png' %}"].texture);
                c_quarter.height = notes_h;
                c_quarter.width = notes_w;
                c_quarter.position.set(width, next_note_y);
                gameObjects.addChild(c_quarter);
            }
            // Is a regular quarter note
            else
            {
                var quarter = new Sprite(resources["{% static 'game/images/quarter.png' %}"].texture);
                quarter.height = notes_h;
                quarter.width = notes_w;
                quarter.position.set(width, next_note_y);
                gameObjects.addChild(quarter);
            }
        }
    }

    if (notes.length == 0 && gameObjects.children.length < 1)
    {

        endCustomGame();
        return;
    }

    for (var i = 0; i < gameObjects.children.length; i++)
    {
        // We make them move
        gameObjects.children[i].x -= 1;
        // If we x <= 0, then it moves out of screen and we lose a life. So:
        if (gameObjects.children[i].x <= 0)
        {
            // We remove the note from the gameObjects objects
            gameObjects.children.splice(i,1);
            // We decrement the lives left
            lives_left -= 1;

            // We remove 1 heart from the gameObjects objects so it desappears from screen
            lives.children.splice(lives_left, 1);


        }
    }

    stage.addChild(gameCore);
    stage.addChild(gameObjects);
    //Render the stage
    renderer.render(stage);
    // Loop this function @ 60 fps
    if (!stop)
        requestAnimationFrame(createMode);


}

function endCustomGame()
{
    if (lives_left > 0)
        success = 1;
    else {
        success = 0;
    }
    lives_left = 0;
    menu.visible = false;
    gameObjects.visible = false;
    lives.visble = false;
    gameCore.visible = false;
    endGameScreen.visible = true;
    highScoresScreen.visible = false;
    scenariosScreen.visible = false;
    badgesScreen.visible = false;
    in_game = 0;

    if (success)
    {
        var finalScore= new PIXI.Text('Success!', style_subtitle);
        finalScore.x = 20;
        finalScore.y = 140;
    }
    else {
        var finalScore= new PIXI.Text('Try Again!', style_subtitle);
        finalScore.x = 20;
        finalScore.y = 140;
    }


    var backToMenu = new PIXI.Text('Menu', style_subtitle);
    backToMenu.x = 120;
    backToMenu.y = 180;
    backToMenu.interactive = true;
    backToMenu.on('mousedown', saveSuccess);
    backToMenu.on('touchstart', saveSuccess);

    endGameScreen.addChild(title);
    endGameScreen.addChild(finalScore);
    endGameScreen.addChild(backToMenu);
    stage.addChild(endGameScreen);
    renderer.render(stage);

}

function saveSuccess()
{
    if (!success)
        return init();

    var form = document.getElementById("saveSuccess");
    document.getElementById("scen_id").value = scen_id;
    document.getElementById("success").value = success;

    form.submit();



}

function randomMode()
{
    // We lost...

    if (lives_left <= 0)
    {
        endGame();
        return;
    }

    // Update frameCounter
    frameCounter += 1;



    // Spawn more notes every "intervalsize"
    if (frameCounter == 1 || everyinterval(intervalsize))
    {
        var maximum = 15; // This is a C
        var minimum = 9;  // This is an A

        // Randomly choose next note line
        var next_note_line = Math.floor(Math.random() * (maximum - minimum + 1)) + minimum;
        // If previous != 0 we dont allow repetitions
        while (next_note_line == previous && previous)
        {
            next_note_line = Math.floor(Math.random() * (maximum - minimum + 1)) + minimum;
        }
        if (previous)
            previous = next_note_line;

        // Sets next_note_y to the y value where that we want next note  to have
        next_note_y = clef.y + lines * next_note_line - notes_h - height/100;

        // Then it is a C, so we have to assign a different image
        if (next_note_line == maximum)
        {
            var c_quarter = new Sprite(resources["{% static 'game/images/c_quarter.png' %}"].texture);
            c_quarter.height = notes_h;
            c_quarter.width = notes_w;
            c_quarter.position.set(width, next_note_y);
            gameObjects.addChild(c_quarter);
        }
        // Is a regular quarter note
        else
        {
            var quarter = new Sprite(resources["{% static 'game/images/quarter.png' %}"].texture);
            quarter.height = notes_h;
            quarter.width = notes_w;
            quarter.position.set(width, next_note_y);
            gameObjects.addChild(quarter);
        }


    }
    // For every note in the gameObjects
    for (var i = 0; i < gameObjects.children.length; i++)
    {
        // We make them move
        gameObjects.children[i].x -= 1;
        // If we x <= 0, then it moves out of screen and we lose a life. So:
        if (gameObjects.children[i].x <= 0)
        {
            // We remove the note from the gameObjects objects
            gameObjects.children.splice(i,1);
            // We decrement the lives left
            lives_left -= 1;

            // We remove 1 heart from the gameObjects objects so it desappears from screen
            lives.children.splice(lives_left, 1);


        }
    }
    // We update the score
    scoreText.setText('Score: '+frameCounter);
    speedText.setText('Speed: '+speed);
    stage.addChild(gameCore);
    stage.addChild(gameObjects);
    //Render the stage
    renderer.render(stage);
    // Loop this function @ 60 fps
    requestAnimationFrame(randomMode);


}

function freeMode()
{
    // When we change "screens" we have to set objects visible so we can seem them
    menu.visible = false;
    gameObjects.visible = true;
    lives.visble = false;
    gameCore.visible = true;
    endGameScreen.visible = false;
    highScoresScreen.visible = false;
    scenariosScreen.visible = false;
    badgesScreen.visible = false;

    lives_left = 1;
    is_free_mode = 1;

    // We create a keyboard and add it to the game core objects
    keyboard = new Sprite(resources["{% static 'game/images/keyboard_big.png' %}"].texture)
    keyboard.height = (height/4) *3;
    keyboard.width = (width/4) *3;
    keyboard.position.set(width/2 - keyboard.width/2, height-keyboard.height+1);
    gameCore.addChild(keyboard);

    exitText = new PIXI.Text('Exit');
    exitText.position.set(0, 0)
    exitText.interactive = true;
    exitText.on('mousedown', exitFreeMode);
    exitText.on('touchstart', exitFreeMode);
    gameCore.addChild(exitText);

    // Enabling Staff User to save new "game mode"
    if (user_is_staff)
    {
        var d = new Date();
        counter = 0;
        notes_array = [];

        creator_name = "{{ user.username }}";

        creator_date = d;
        creator = creator_name + ""+creator_date;

    }


    //frames
    frameCounter = 0;
    stage.addChild(gameCore);
    //Render the stage
    renderer.render(stage);

    //Start freeModeObjects Loop
    freeModeObjectsLoop();
}

function freeModeObjectsLoop()
{
    // We lost...
    frameCounter += 1;
    if (lives_left <= 0)
    {
        endFreeGame();
        return;
    }



    stage.addChild(gameCore);
    stage.addChild(gameObjects);
    //Render the stage
    renderer.render(stage);
    // Loop this function @ 60 fps
    requestAnimationFrame(freeModeObjectsLoop);


}

function exitFreeMode()
{
    if (user_is_staff)
    {
        my_JSONString = JSON.stringify(notes_array);
    }

    lives_left = 0;
}



window.addEventListener("keydown", checkKeyDown, true);

renderer.view.addEventListener("click", clickKeyboard, true);

function clickKeyboard(ev)
{
    // Defining the notes position
    if (in_game)
    {
        k_width = (keyboard.width)/15

        c_leftBound = renderer.view.offsetLeft + keyboard.x;
        c_rightBound = c_leftBound + k_width;
        white_upperBound = renderer.view.offsetTop + keyboard.y;
        white_lowerBound = renderer.view.offsetTop +height;

        d_leftBound = c_rightBound;
        d_rightBound = d_leftBound + k_width;

        e_leftBound = d_rightBound;
        e_rightBound = e_leftBound + k_width;

        f_leftBound = e_rightBound;
        f_rightBound = f_leftBound + k_width;

        g_leftBound = f_rightBound;
        g_rightBound = g_leftBound + k_width;

        a_leftBound = g_rightBound;
        a_rightBound = a_leftBound + k_width;

        b_leftBound = a_rightBound;
        b_rightBound = b_leftBound + k_width;

        c_2_leftBound = b_rightBound;
        c_2_rightBound = c_2_leftBound + k_width;

        d_2_leftBound = c_2_rightBound;
        d_2_rightBound = d_2_leftBound + k_width;

        e_2_leftBound = d_2_rightBound;
        e_2_rightBound = e_2_leftBound + k_width;

        f_2_leftBound = e_2_rightBound;
        f_2_rightBound = f_2_leftBound + k_width;

        g_2_leftBound = f_2_rightBound;
        g_2_rightBound = g_2_leftBound + k_width;

        a_2_leftBound = g_2_rightBound;
        a_2_rightBound = a_2_leftBound + k_width;

        b_2_leftBound = a_2_rightBound;
        b_2_rightBound = b_2_leftBound + k_width;

        //console.log("Height = "+ keyboard.height);

        if (is_free_mode)
        {
            // console.log((renderer.view.offsetLeft+ ev.x) + " " + (ev.y - renderer.view.offsetTop));
            if (ev.x > c_leftBound && ev.x < c_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                play('C', 4);
            if (ev.x > d_leftBound && ev.x < d_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                play('D', 4);
            if (ev.x > e_leftBound && ev.x < e_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                play('E', 4);
            if (ev.x > f_leftBound && ev.x < f_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                play('F', 4);
            if (ev.x > g_leftBound && ev.x < g_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                play('G', 4);
            if (ev.x > a_leftBound && ev.x < a_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                play('A', 4);
            if (ev.x > b_leftBound && ev.x < b_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                play('B', 4);
            if (ev.x > c_2_leftBound && ev.x < c_2_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                play('C', 5);
            if (ev.x > d_2_leftBound && ev.x < d_2_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                play('D', 5);
            if (ev.x > e_2_leftBound && ev.x < e_2_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                play('E', 5);
            if (ev.x > g_2_leftBound && ev.x < g_2_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                play('G', 5);
            if (ev.x > a_2_leftBound && ev.x < a_2_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                play('A', 5);
            if (ev.x > b_2_leftBound && ev.x < b_2_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                play('B', 5);

        }
        else if (in_game)
        {
            if (ev.x > c_leftBound && ev.x < c_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                test(C, 4);
            if (ev.x > d_leftBound && ev.x < d_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                test(D, 4);
            if (ev.x > e_leftBound && ev.x < e_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                test(E, 4);
            if (ev.x > f_leftBound && ev.x < f_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                test(F, 4);
            if (ev.x > g_leftBound && ev.x < g_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                test(G, 4);
            if (ev.x > a_leftBound && ev.x < a_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                test(A, 4);
            if (ev.x > b_leftBound && ev.x < b_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                test(B, 4);
            if (ev.x > c_2_leftBound && ev.x < c_2_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                test(C_2, 5);
            if (ev.x > d_2_leftBound && ev.x < d_2_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                test(D_2, 5);
            if (ev.x > e_2_leftBound && ev.x < e_2_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                test(E_2, 5);
            if (ev.x > g_2_leftBound && ev.x < g_2_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                test(G_2, 5);
            if (ev.x > a_2_leftBound && ev.x < a_2_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                test(A_2, 5);
            if (ev.x > b_2_leftBound && ev.x < b_2_rightBound && ev.y > white_upperBound && ev.y < white_lowerBound)
                test(B_2, 5);

        }

    }

}

function checkKeyDown(ev)
{
    // Map Keys to lines:
    var code = ev.keyCode;
    //console.log(code);
    // If there are any notes on screen... if not, we can assume it was a misclick and don't punish the player
    if (gameObjects.children.length > 1 || lives_left > 0)
    {
        //console.log("I am pressing: " + code)
        if (!is_free_mode)
        {
            switch (code)
            {
                case 65: test(C, 4); break; // A pressed on KEYBOARD
                case 83: test(D, 4); break; // S pressed on KEYBOARD
                case 68: test(E, 4); break; // D pressed on KEYBOARD
                case 70: test(F, 4); break; // F pressed on KEYBOARD
                case 71: test(G, 4); break; // G pressed on KEYBOARD
                case 72: test(A, 4); break; // H pressed on KEYBOARD
                case 74: test(B, 4); break; // J pressed on KEYBOARD
                case 75: test(C_2, 5); break; // K pressed on KEYBOARD
                case 76: test(D_2, 5); break; // L pressed on KEYBOARD
                case 74: test(E_2, 5); break; // R pressed on KEYBOARD
                case 82: test(F_2, 5); break;// T pressed on KEYBOARD
                case 84: test(G_2, 5); break; // Y pressed on KEYBOARD
                case 89: test(A_2, 5); break; // U pressed on KEYBOARD
                case 85: test(B_2, 5); break; // I pressed on KEYBOARD
                default: break;
            }

        }
        else
        {
            switch (code)
            {
                case 65: play('C', 4); if(user_is_staff){var new_note = {}; new_note.frame = frameCounter; new_note.note = "C"; notes_array.push(new_note);} break; // A pressed on KEYBOARD
                case 83: play('D', 4); if(user_is_staff){var new_note = {}; new_note.frame = frameCounter; new_note.note = "D"; notes_array.push(new_note);} break; // S pressed on KEYBOARD
                case 68: play('E', 4); if(user_is_staff){var new_note = {}; new_note.frame = frameCounter; new_note.note = "E"; notes_array.push(new_note);} break;// D pressed on KEYBOARD
                case 70: play('F', 4); if(user_is_staff){var new_note = {}; new_note.frame = frameCounter; new_note.note = "F"; notes_array.push(new_note);} break;// F pressed on KEYBOARD
                case 71: play('G', 4); if(user_is_staff){var new_note = {}; new_note.frame = frameCounter; new_note.note = "G"; notes_array.push(new_note);} break; // G pressed on KEYBOARD
                case 72: play('A', 4); if(user_is_staff){var new_note = {}; new_note.frame = frameCounter; new_note.note = "A"; notes_array.push(new_note);} break; // H pressed on KEYBOARD
                case 74: play('B', 4); if(user_is_staff){var new_note = {}; new_note.frame = frameCounter; new_note.note = "B"; notes_array.push(new_note);} break; // J pressed on KEYBOARD
                case 75: play('C', 5); if(user_is_staff){var new_note = {}; new_note.frame = frameCounter; new_note.note = "C_2"; notes_array.push(new_note);} break; // K pressed on KEYBOARD
                case 76: play('D', 5); if(user_is_staff){var new_note = {}; new_note.frame = frameCounter; new_note.note = "D_2"; notes_array.push(new_note);} break; // L pressed on KEYBOARD
                case 74: play('E', 5); if(user_is_staff){var new_note = {}; new_note.frame = frameCounter; new_note.note = "E_2"; notes_array.push(new_note);} break; // R pressed on KEYBOARD
                case 82: play('F', 5); if(user_is_staff){var new_note = {}; new_note.frame = frameCounter; new_note.note = "F_2"; notes_array.push(new_note);} break;// T pressed on KEYBOARD
                case 84: play('G', 5); if(user_is_staff){var new_note = {}; new_note.frame = frameCounter; new_note.note = "G_2"; notes_array.push(new_note);} break; // Y pressed on KEYBOARD
                case 89: play('A', 5); if(user_is_staff){var new_note = {}; new_note.frame = frameCounter; new_note.note = "A_2"; notes_array.push(new_note);} break; // U pressed on KEYBOARD
                case 85: play('B', 5); if(user_is_staff){var new_note = {}; new_note.frame = frameCounter; new_note.note = "B_2"; notes_array.push(new_note);} break; // I pressed on KEYBOARD
                case 87: play('C#'); break; // W pressed on KEYBOARD
                case 69: play('D#'); break; // E pressed on KEYBOARD
                case 84: play('F#'); break; // T pressed on KEYBOARD
                case 89: play('G#'); break; // Y pressed on KEYBOARD
                case 85: play('A#'); break; // W pressed on KEYBOARD
                default: break;
            }
        }

    }


}

function play(note, pitch)
{
    piano.play(note, pitch, 2);
}

function test(note, pitch)
{
    //console.log("I am pressing: " + note + " and checking against: "+ gameObjects.children[0].y);
    switch (note)
    {
        case C: piano.play('C', pitch, 2); break;
        case D: piano.play('D', pitch, 2); break;
        case E: piano.play('E', pitch, 2); break;
        case F: piano.play('F', pitch, 2); break;
        case G: piano.play('G', pitch, 2); break;
        case A: piano.play('A', pitch, 2); break;
        case B: piano.play('B', pitch, 2); break;
        case C_2: piano.play('C', pitch, 2); break;
        case D_2: piano.play('D', pitch, 2); break;
        case E_2: piano.play('E', pitch, 2); break;
        case F_2: piano.play('F', pitch, 2); break;
        case G_2: piano.play('G', pitch, 2); break;
        case A_2: piano.play('A', pitch, 2); break;
        case B_2: piano.play('B', pitch, 2); break;
    }


    if (gameObjects.children[0].y == note)
        gameObjects.children.splice(0, 1);

    else {
        lives_left -=1;
        lives.children.splice(lives_left,1);

    }
    renderer.render(stage);
}

function everyinterval(n) {
    if ((frameCounter / n) % 1 == 0)
    {
        if (speed < max_speed)
        {
            intervalsize = intervalsize - speed;
            speed = speed + 1;
        }
        return true;
    }
    return false;

}

function endGame()
{
    lives_left = 0;
    menu.visible = false;
    gameObjects.visible = false;
    lives.visble = false;
    gameCore.visible = false;
    endGameScreen.visible = true;
    highScoresScreen.visible = false;
    scenariosScreen.visible = false;
    badgesScreen.visible = false;

    in_game = 0;

    var finalScore= new PIXI.Text('Score: '+frameCounter, style_subtitle);
    finalScore.x = 20;
    finalScore.y = 140;

    var backToMenu = new PIXI.Text('Menu', style_subtitle);
    backToMenu.x = 120;
    backToMenu.y = 180;
    backToMenu.interactive = true;
    backToMenu.on('mousedown', saveScore);
    backToMenu.on('touchstart', saveScore);

    endGameScreen.addChild(title);
    endGameScreen.addChild(finalScore);
    endGameScreen.addChild(backToMenu);
    stage.addChild(endGameScreen);
    renderer.render(stage);

}

function endFreeGame()
{
    is_free_mode = 0;
    lives_left = 0;
    menu.visible = false;
    gameObjects.visible = false;
    lives.visble = false;
    gameCore.visible = false;
    endGameScreen.visible = true;
    highScoresScreen.visible = false;
    scenariosScreen.visible = false;
    badgesScreen.visible = false;

    var backToMenu = new PIXI.Text('Menu', style_subtitle);
    backToMenu.x = 120;
    backToMenu.y = 180;
    backToMenu.interactive = true;
    backToMenu.on('mousedown', init);
    backToMenu.on('touchstart', init);

    if (user_is_staff)
    {
        var save = new PIXI.Text('Save', style_subtitle);
        save.x = 120;
        save.y = 130;
        save.interactive = true;
        save.on('mousedown', saveNewNotes);
        save.on('touchstart', saveNewNotes);
        endGameScreen.addChild(save);
    }


    endGameScreen.addChild(backToMenu);
    stage.addChild(endGameScreen);
    renderer.render(stage);

}

function saveNewNotes()
{
    var form = document.getElementById("saveNotes");
    document.getElementById("notes").value = my_JSONString;
    document.getElementById("creator").value = creator;
    form.submit();
}


function saveScore()
{
    var form = document.getElementById("saveScore");
    document.getElementById("score").value = frameCounter;

    form.submit();

}

function showHighScores()
{

    menu.visible = false;
    gameObjects.visible = false;
    lives.visble = false;
    gameCore.visible = false;
    endGameScreen.visible = false;
    highScoresScreen.visible = true;
    scenariosScreen.visible = false;
    badgesScreen.visible = false;
    var i = 1;
    var x = 10;
    var y = 90;
    var title = new PIXI.Text('HighScores',style_title);
    title.x = 30;
    title.y = 20;
    highScoresScreen.addChild(title);
    {% for entry in leaderboard %}
        var score = new PIXI.Text(''+i+ " - "+ "{{ entry.user }}" + ": "+ "{{ entry.points }}", style_score);
        i = i +1 ;
        score.x = x;
        score.y = y;
        y = y+ 20;
        highScoresScreen.addChild(score);
        if (i == 6)
        {
            x = x+width/2;
            y = 100;
        }
    {% endfor %}
    var backToMenu = new PIXI.Text('Menu', style_subtitle);
    backToMenu.x = 120;
    backToMenu.y = height - 60;
    backToMenu.interactive = true;
    backToMenu.on('mousedown', init);
    backToMenu.on('touchstart', init);
    highScoresScreen.addChild(backToMenu);
    stage.addChild(highScoresScreen);
    renderer.render(stage);

}

function displayScenarios()
{
    menu.visible = false;
    gameObjects.visible = false;
    lives.visble = false;
    gameCore.visible = false;
    endGameScreen.visible = false;
    highScoresScreen.visible = false;
    scenariosScreen.visible = true;
    badgesScreen.visible = false;
    var i = 1;
    var x = 10;
    var y = 90;
    var title = new PIXI.Text('Scenarios',style_title);
    title.x = 30;
    title.y = 20;
    scenariosScreen.addChild(title);
    {% for scenario in scenarios %}
        completed = 0;
        {% if completed is not None %}
            {% for c in completed %}
                if ("{{ c.scenario.id }}" == "{{scenario.id}}")
                {
                    completed = 1;

                }
            {% endfor %}
        {% endif %}
        if (completed)
            var scen = new PIXI.Text("{{ scenario.name }} - Completed", style_score);
        else {
            var scen = new PIXI.Text("{{ scenario.name }}", style_score);
        }
        i = i +1 ;
        scen.x = x;
        scen.y = y;
        y = y+ 20;
        scen.interactive = true;
        scen.on('mousedown',function (){
            setup("{{ scenario.name }}", "{{ scenario.notes }}", "{{ scenario.id }}", "{{ scenario.num_lives }}");
        });
        scenariosScreen.addChild(scen);
        if (i == 6)
        {
            x = x+width/2;
            y = 100;
        }
    {% endfor %}

    var backToMenu = new PIXI.Text('Menu', style_subtitle);
    backToMenu.x = 120;
    backToMenu.y = height - 60;
    backToMenu.interactive = true;
    backToMenu.on('mousedown', init);
    backToMenu.on('touchstart', init);
    scenariosScreen.addChild(backToMenu);
    stage.addChild(scenariosScreen);
    renderer.render(stage);
}

function displayBadges()
{
    menu.visible = false;
    gameObjects.visible = false;
    lives.visble = false;
    gameCore.visible = false;
    endGameScreen.visible = false;
    highScoresScreen.visible = false;
    scenariosScreen.visible = false;
    badgesScreen.visible = true;
    var i = 1;
    var x = 10;
    var y = 120;
    var title = new PIXI.Text('Badges',style_title);
    title.x = 30;
    title.y = 20;
    badgesScreen.addChild(title);
    {% if badges is not None %}
        {% for badge in badges %}


            {% if badge.badge_type == '1' %}
                {% if badge.points == 0 %}
                    var badge_sprite = new Sprite(resources["{% static 'game/images/Badge_First.png' %}"].texture);

                {% elif badge.points == 500 %}
                    var badge_sprite = new Sprite(resources["{% static 'game/images/Badge_Amateur.png' %}"].texture);

                {% elif badge.points == 2500 %}
                    var badge_sprite = new Sprite(resources["{% static 'game/images/Badge_Pro.png' %}"].texture);

                {% elif badge.points == 5000 %}
                    var badge_sprite = new Sprite(resources["{% static 'game/images/Badge_Prodigy.png' %}"].texture);

                {% endif %}
                badge_sprite.width = 100;
                badge_sprite.height = 100;
                badge_sprite.x = x;
                badge_sprite.y = y-65;
                badgesScreen.addChild(badge_sprite);

            {% else %}
                var badg_descript = new PIXI.Text("Completed {{ badge.scenario.name }}", style_badge);
                badg_descript.x = x;
                badg_descript.y = y;
                badgesScreen.addChild(badg_descript);
            {% endif %}

            i = i +1 ;

            x = x + width/3;


            if (x >= width -30)
            {
                x = 10;
                y = y + 50;
            }
        {% endfor %}
    {% endif %}

    var backToMenu = new PIXI.Text('Menu', style_subtitle);
    backToMenu.x = 120;
    backToMenu.y = height - 60;
    backToMenu.interactive = true;
    backToMenu.on('mousedown', init);
    backToMenu.on('touchstart', init);
    badgesScreen.addChild(backToMenu);
    stage.addChild(badgesScreen);
    renderer.render(stage);
}



</script>


</body>
</html>
