<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="{% static 'game/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'game/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/extracss.css' %}">

    <title> Key Learning </title>


</head>
<body >
    <!--<canvas id = "canvas"></canvas>-->
<script type="text/javascript" src="{% static 'game/js/ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'game/js/pixi.min.js' %}"></script>


<div name="divHrefB" style="height: 0px;width: 0px;overflow:hidden;">
    <button id= "modalformbutton" class="btn btn-primary btn-lg" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Sign In/Register</button>
</div>

<!-- Modal -->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
              <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
              <li class=""><a href="#why" data-toggle="tab">Why?</a></li>
            </ul>
        </div>

      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in" id="why">
        <p>You need to have an account if you want us to save your highscores!</p>
        </div>
        <div class="tab-pane fade active in" id="signin">
            <form class="form-horizontal" action="{% url 'login' %}" method="post">
                {% csrf_token %}
            <fieldset>

            <!-- Sign In Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="userid">User Name:</label>
              <div class="controls">
                <input required="" id="name" name="name" type="text" class="form-control" placeholder="John Doe" class="input-medium" required="">
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="passwordinput">Password:</label>
              <div class="controls">
                <input required="" id="password" name="password" class="form-control" type="password" placeholder="********" class="input-medium">
              </div>
            </div>


            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="signin"></label>
              <div class="controls">
                <input type ="submit" name="signin" value = "Sign In"/>
              </div>
              {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            </div>
            </fieldset>
            </form>
        </div>
        <div class="tab-pane fade" id="signup">
            <form class="form-horizontal" action="{% url 'signup' %}" method="post">
                {% csrf_token %}
            <fieldset>
            <!-- Sign Up Form -->
            <!-- Text input-->


            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="userid">User Name:</label>
              <div class="controls">
                <input id="username" name="username" class="form-control" type="text" placeholder="JoeSixpack" class="input-large" required="">
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="password">Password:</label>
              <div class="controls">
                <input id="s_password" name="s_password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                <em>1-8 Characters</em>
              </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
              <div class="controls">
                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
              </div>
            </div>


            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
                <input type ="submit" name="signup" value = "Sign Up"/>
              </div>
              {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            </div>
            </fieldset>
            </form>
      </div>
    </div>
      </div>
      <div class="modal-footer">
      <center>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>
<div name="divHrefB" style="height: 0px;width: 0px;overflow:hidden;">
    <form id = "saveScore" action="{% url 'save_score' %}" method="post">
        {% csrf_token %}
        <input id="id" name="id" value = "{{userID}}"/>
        <input id = "score" name ="score" value ="">
    </form>
</div>
<script>

//Global Variables
var height = 256; // Size of Canvas
var width = 512; // Size of Canvas
var backgroundColor = 0x1099bb;
var num_lives = 3; // Number of lives
var previous = 1; // Previous note (if we dont want repetition).
                  // If we want repetition, change to 0
var intervalsize = 150; // Interval in which we want to create new notes


//Aliases
var Container = PIXI.Container,
    autoDetectRenderer = PIXI.autoDetectRenderer,
    loader = PIXI.loader,
    resources = PIXI.loader.resources,
    TextureCache = PIXI.utils.TextureCache,
    Texture = PIXI.Texture,
    Sprite = PIXI.Sprite;


//Create Pixi stage and renderer and add the
//renderer.view to the DOM
var stage = new Container();
renderer = autoDetectRenderer(width, height);
renderer.backgroundColor = backgroundColor;
document.body.appendChild(renderer.view);

// Object Containers we will use

var menu = new PIXI.DisplayObjectContainer();
var gameCore = new PIXI.DisplayObjectContainer();
var gameObjects = new PIXI.DisplayObjectContainer();
var lives = new PIXI.DisplayObjectContainer();
var endGameScreen = new PIXI.DisplayObjectContainer();
var highScoresScreen = new PIXI.DisplayObjectContainer();

PIXI.loader
  .add([
      "{% static 'game/images/quarter.png' %}",
      "{% static 'game/images/c_quarter.png' %}",
      "{% static 'game/images/clef.png' %}",
      "{% static 'game/images/heart.png' %}"
  ])
  .on("progress", loadProgressHandler)
  .load(init);

function loadProgressHandler(loader, resource) {

    //Display the file `url` currently being loaded
    console.log("loading: " + resource.url);

    //Display the precentage of files currently loaded
    console.log("progress: " + loader.progress + "%");

    //If you gave your files names as the first argument
    //of the `add` method, you can access them like this
    //console.log("loading: " + resource.name);
}

function init()
{
    menu.visible = true;
    gameObjects.visible = false;
    lives.visble = false;
    gameCore.visible = false;
    highScoresScreen.visible = false;
    endGameScreen.visible = false;
    console.log("Menu: "+menu.visible);
    console.log("Game objects: "+gameObjects.visible);
    console.log("Eng Game: "+ endGameScreen.visible);

    style_title = {
        fontFamily : 'Courier',
        fontSize : '60px',
        fontStyle : 'italic',
        fontWeight : 'bold',
        fill : '#F7EDCA',
        stroke : '#4a1850',
        strokeThickness : 5,
        dropShadow : true,
        dropShadowColor : '#000000',
        dropShadowAngle : Math.PI / 6,
        dropShadowDistance : 6,
        wordWrap : true,
        wordWrapWidth : 440
    };
    style_subtitle = {
        fontFamily : 'Courier',
        fontSize : '30px',
        fontStyle : 'italic',
        fontWeight : 'bold',
        fill : '#F7EDCA',
        stroke : '#4a1850',
        strokeThickness : 5,
        dropShadow : true,
        dropShadowColor : '#000000',
        dropShadowAngle : Math.PI / 6,
        dropShadowDistance : 6,
        wordWrap : true,
        wordWrapWidth : 440
    };
    style_score = {
        fontFamily : 'Courier',
        fontSize : '15px',
        fontStyle : 'italic',
        fontWeight : 'bold',
        fill : '#F7EDCA',
        stroke : '#4a1850',
        strokeThickness : 5,
        dropShadow : true,
        dropShadowColor : '#000000',
        dropShadowAngle : Math.PI / 6,
        dropShadowDistance : 6,
        wordWrap : true,
        wordWrapWidth : 440
    };

    title = new PIXI.Text('Key Learning',style_title);
    title.x = 30;
    title.y = 20
    var subtitle_play = new PIXI.Text('play', style_subtitle);
    subtitle_play.x = 120;
    subtitle_play.y = 100;

    subtitle_play.interactive = true;
    subtitle_play.on('mousedown', login);
    subtitle_play.on('touchstart', login);

    var subtitle_highScores = new PIXI.Text('high scores', style_subtitle)
    subtitle_highScores.x = 120;
    subtitle_highScores.y = 140;
    subtitle_highScores.interactive = true;
    subtitle_highScores.on('mousedown', showHighScores);
    subtitle_highScores.on('touchstart', showHighScores);


    var subtitle_badges = new PIXI.Text('badges', style_subtitle);
    subtitle_badges.x = 120;
    subtitle_badges.y = 180;
    subtitle_badges.interactive = true;
    subtitle_badges.on('mousedown', login);
    subtitle_badges.on('touchstart', login);

    menu.addChild(title);
    menu.addChild(subtitle_play);
    menu.addChild(subtitle_highScores);
    menu.addChild(subtitle_badges);

    stage.addChild(menu);

    renderer.render(stage);

}

function login()
{
    userID = "{{userID}}"
    console.log(userID);
    if (userID == "")
        document.getElementById('modalformbutton').click();
    else {
        setup();
    }
}

function setup() {

    // When we change "screens" we have to set objects visible so we can seem them
    menu.visible = false;
    gameObjects.visible = true;
    lives.visble = true;
    gameCore.visible = true;
    endGameScreen.visible = false;
    highScoresScreen.visible = false;

    console.log("Menu: "+menu.visible);
    console.log("Game objects: "+gameObjects.visible);
    console.log("Eng Game: "+ endGameScreen.visible);


    // Everytime we start the game, lives_left returns to what is should be
    lives_left = num_lives;

    // We create a clef and add it to the game core objects
    clef = new Sprite(resources["{% static 'game/images/clef.png' %}"].texture);
    clef.height = 1/2 * height;
    clef.width = width;
    clef.position.set(0, height/2 - (clef.height)/2);
    gameCore.addChild(clef);

    // We create the score text and we add it to the game core objects
    scoreText = new PIXI.Text('Score: 0');
    scoreText.position.set(0, 0)
    gameCore.addChild(scoreText);

    stage.addChild(gameCore);

    for (var i = 0; i < num_lives; i++)
    {
        var heart = new Sprite(resources["{% static 'game/images/heart.png' %}"].texture);
        heart.height = 1/15 * height;
        heart.width = heart.height;
        var offset = width / 50 + heart.width;
        heart.position.set(width - (offset +  (i * heart.width)), height/100 );
        //console.log("Heart " + i + " x: "+ heart.x + " y: "+ heart.y); // DEBUG
        lives.addChild(heart);
    }
    stage.addChild(lives);

    // DEBUG
    //console.log("Clef X: "+ clef.x + " Clef Y: "+clef.y + "Size: " + clef.height);

    //Render the stage
    renderer.render(stage);

    //We will need this to count frames
    frameCounter = 0;
    //Start gameObjects Loop
    gameObjectsLoop();

}

function gameObjectsLoop()
{
    // We lost...

    if (lives_left <= 0)
    {
        endGame();
        return;
    }
    // DEBUG
    //console.log("Frame Counter: " + frameCounter);

    // Update frameCounter
    frameCounter += 1;

    var lines = clef.height / 16;
    var notes_w = 1/20 * width;
    var notes_h = 1/10 * height;

    // Starting from bottom to up, this is how different notes are placed
    // (in relation to the sheet):

     C = clef.y + lines * 15 - notes_h - height/100;
     D = clef.y + lines * 14 - notes_h - height/100;
     E = clef.y + lines * 13 - notes_h - height/100;
     F = clef.y + lines * 12 - notes_h - height/100;
     G = clef.y + lines * 11 - notes_h - height/100;
     A = clef.y + lines * 10 - notes_h - height/100;
     B = clef.y + lines * 09 - notes_h - height/100;

    // Spawn more notes every "intervalsize"
    if (frameCounter == 1 || everyinterval(intervalsize))
    {
        var maximum = 15; // This is a C
        var minimum = 9;  // This is an A

        // Randomly choose next note line
        var next_note_line = Math.floor(Math.random() * (maximum - minimum + 1)) + minimum;
        // If previous != 0 we dont allow repetitions
        while (next_note_line == previous && previous)
        {
            next_note_line = Math.floor(Math.random() * (maximum - minimum + 1)) + minimum;
        }
        if (previous)
            previous = next_note_line;

        // Sets next_note_y to the y value where that we want next note  to have
        next_note_y = clef.y + lines * next_note_line - notes_h - height/100;

        // Then it is a C, so we have to assign a different image
        if (next_note_line == maximum)
        {
            var c_quarter = new Sprite(resources["{% static 'game/images/c_quarter.png' %}"].texture);
            c_quarter.height = notes_h;
            c_quarter.width = notes_w;
            c_quarter.position.set(width, next_note_y);
            gameObjects.addChild(c_quarter);
        }
        // Is a regular quarter note
        else
        {
            var quarter = new Sprite(resources["{% static 'game/images/quarter.png' %}"].texture);
            quarter.height = notes_h;
            quarter.width = notes_w;
            quarter.position.set(width, next_note_y);
            gameObjects.addChild(quarter);
        }


    }
    // DEBUG
    //for (var i = 0; i< gameObjects.children.length; i++)
    //    console.log(gameObjects.children[i]);
    // For every note in the gameObjects
    for (var i = 0; i < gameObjects.children.length; i++)
    {
        // We make them move
        gameObjects.children[i].x -= 1;
        // If we x <= 0, then it moves out of screen and we lose a life. So:
        if (gameObjects.children[i].x <= 0)
        {
            // We remove the note from the gameObjects objects
            gameObjects.children.splice(i,1);
            // We decrement the lives left
            lives_left -= 1;

            // We remove 1 heart from the gameObjects objects so it desappears from screen
            lives.children.splice(lives_left, 1);


        }
    }
    // We update the score
    scoreText.setText('Score: '+frameCounter);
    stage.addChild(gameCore);
    stage.addChild(gameObjects);
    //Render the stage
    renderer.render(stage);
    // Loop this function @ 60 fps
    requestAnimationFrame(gameObjectsLoop);


}

window.addEventListener("keydown", checkKeyDown, true);

function checkKeyDown(ev)
{
    // Map Keys to lines:
    var code = ev.keyCode;
    console.log(code);
    // If there are any notes on scree... if not, we can assume it was a misclick and don't punish the player
    if (gameObjects.children.length > 1)
    {
        console.log("I am pressing: " + code)
        switch (code)
        {
            case 65: test(C); break; // A pressed on KEYBOARD
            case 83: test(D); break; // S pressed on KEYBOARD
            case 68: test(E); break; // D pressed on KEYBOARD
            case 70: test(F); break; // F pressed on KEYBOARD
            case 71: test(G); break; // G pressed on KEYBOARD
            case 72: test(A); break; // H pressed on KEYBOARD
            case 74: test(B); break; // J pressed on KEYBOARD
            default: break;
        }
    }


}

function test(note)
{
    console.log("I am pressing: " + note + " and checking against: "+ gameObjects.children[0].y);
    if (gameObjects.children[0].y == note)
        gameObjects.children.splice(0, 1);

    else {
        lives_left -=1;
        lives.children.splice(lives_left,1);

    }
    renderer.render(stage);
}

function everyinterval(n) {
    if ((frameCounter / n) % 1 == 0)
    {
        intervalsize = 150;
        return true;
    }
    return false;

}

function endGame()
{
    menu.visible = false;
    gameObjects.visible = false;
    lives.visble = false;
    gameCore.visible = false;
    endGameScreen.visible = true;
    highScoresScreen.visible = false;

    console.log("Menu: "+menu.visible);
    console.log("Game objects: "+gameObjects.visible);
    console.log("Eng Game: "+ endGameScreen.visible);
    var finalScore= new PIXI.Text('Score: '+frameCounter, style_subtitle);
    finalScore.x = 20;
    finalScore.y = 140;

    var backToMenu = new PIXI.Text('Menu', style_subtitle);
    backToMenu.x = 120;
    backToMenu.y = 180;
    backToMenu.interactive = true;
    backToMenu.on('mousedown', saveScore);
    backToMenu.on('touchstart', saveScore);

    endGameScreen.addChild(title);
    endGameScreen.addChild(finalScore);
    endGameScreen.addChild(backToMenu);
    stage.addChild(endGameScreen);
    renderer.render(stage);

}


function saveScore()
{
    var form = document.getElementById("saveScore");
    document.getElementById("score").value = frameCounter;

    form.submit();

}

function showHighScores()
{

    menu.visible = false;
    gameObjects.visible = false;
    lives.visble = false;
    gameCore.visible = false;
    endGameScreen.visible = false;
    highScoresScreen.visible = true;
    var i = 1;
    var x = 10;
    var y = 90;
    var title = new PIXI.Text('HighScores',style_title);
    title.x = 30;
    title.y = 20;
    highScoresScreen.addChild(title);
    {% for entry in leaderboard %}
        var score = new PIXI.Text(''+i+ " - "+ "{{ entry.user }}" + ": "+ "{{ entry.points }}", style_score);
        i = i +1 ;
        score.x = x;
        score.y = y;
        y = y+ 20;
        highScoresScreen.addChild(score);
        if (i == 6)
        {
            x = x+width/2;
            y = 100;
        }
    {% endfor %}
    var backToMenu = new PIXI.Text('Menu', style_subtitle);
    backToMenu.x = 120;
    backToMenu.y = height - 60;
    backToMenu.interactive = true;
    backToMenu.on('mousedown', init);
    backToMenu.on('touchstart', init);
    highScoresScreen.addChild(backToMenu);
    stage.addChild(highScoresScreen);
    renderer.render(stage);

}


</script>


</body>
</html>
